.App {
  text-align: center;
}

header {
  width: 100%;
  margin: auto;
  background-color: white;
  display: flex
}

h1 {
  flex: 1;
  font-family: $font-title;
  margin: 30px;
}

.header-buttons {
  margin: 40px;
  flex: 1;
  text-align: right
}

.nav-buttons {
  margin: 10px 10px;
  font-family: $font-main;
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-weight: 700
}

.home-button {
  text-decoration: none;
  color: black
}

.standard-button {
  height: 50px;
  width: 90%;
  font-size: 16px;
  font-family: $font-main;
  font-weight: 700;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  
  &:hover {
    background: #aaa;
    border: #aaa
  }
}
