.App {
  text-align: center;
}

header {
  width: 100%;
  margin: auto;
  background-color: white;
  display: flex
}

h1 {
  flex: 1;
  font-family: $font-title;
  margin: 30px;
}

.header-buttons {
  flex: 1;
}

.nav-buttons {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin: 5px;
  font-family: $font-main;
  font-size: 18px;
  box-shadow: $box-shadow;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  border: .5px solid lightgray;
}

.home-button {
  text-decoration: none;
  color: black
}