@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto:400,700&display=swap');

@import './variables.scss';
@import './containers/App/App.scss';
@import './containers/RideSearch/RideSearch.scss';
@import './containers/CreateRide/CreateRide.scss';
@import './components/SearchResults/SearchResults.scss';
@import './containers/MyRides/MyRides.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/road-background.jpg');
}